* {
  padding: 0;
  margin: 0;
}

.content {
  width: 90%;
  margin: auto;
  padding: 10px;
  font-family: 'Dosis', sans-serif;
  background-color: #a8c7cb;
  font-size: 20px;
  margin-top: 5px;
}

.navigation {
  background-color: #120e10;
  margin-bottom: 10px;
}
.navigation nav{
  position: static;
}
nav ul li {
  display: inline-block;
  padding: 18px 10px;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #db5777;
}

nav ul li a:hover {
  color: #efc2d3;
}

#home>img {
  border-radius: 50%;
  height: 30%;
  width: 30%;
}

#home p {
  font-style: italic;
  font-weight: bolder;
}

h2 {
  text-align: center;
  padding-top: 25px;
}

h4 {
  padding: 5px 0px;
}

hr {
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
}

#projects a {
  color: #2a5800;
  font-weight: bold;
  text-decoration: none;
}

#projects a:hover {
  color: #4f8901
}

input {
  display: block;
  margin: 15px 0px;
  padding: 10px 0px;
}

button {
  display: block;
  font-size: 15px;
  padding: 5px;
}
#footer{
  background-color: #120e10;
  color: white;
  text-align: center;
  margin: 15px;
  padding: 8px;
}